@charset "utf-8";



#list-container{
	
}
#list-container .bg{
	height: 677px;
	width: 100%;
	background: url(../img/list/banner.jpg) center no-repeat;
}
#list-container .warp1200{
	width: 1200px;
	margin: 0 auto;
}

.listContainer{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 30px;
}
.listContainer .list-item{
	float: left;
	margin: 10px 27px;
	width: 210px;
	height: 310px;
	border: 4px solid #F88CB7;
	position: relative;
}
.list-item .title{
	height: 45px;
	overflow: hidden;
	width: 198px;
	border-top: 1px dashed darkgray;
	/*border-bottom: 1px dashed darkgray;*/
	padding-left: 10px;
	margin-top: 15px;
	color: #666666;
	line-height: 20px;
	overflow: hidden;
	position: absolute;
	top: 210px;/*190*/
	z-index: -10;
	cursor: pointer;
}
.list-item .price{
	width: 198px;
	padding-left: 10px;
	padding-top: 10px;
	border-top: 1px dashed darkgray;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	background: white;
}
.list-item .price span{
	line-height: 15px;
	text-decoration: line-through;
}
.list-item .price h3{
	color: #CB0101;
	font-size: 18px;
	margin-top: 10px;
}
.listContainer .save-money{
	width: 77px;
	height: 77px;
	text-align: center;
	line-height: 77px;
	font-size: 16px;
	color: white;
	background: url(../img/list/bg.png) 0 0 no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}
.listContainer .disable{
	width: 142px;
	height: 142px;
	position: absolute;
	top: 45px;
	left: 30px;
	z-index: 100;
	display: none;
	background: url(../img/list/empty.png) 0px 0px transparent;
}

.pager-container{
	float: right;
	width: 300px;
}
.pager-container .pager{
	float: left;
	padding: 5px 10px;
	margin: 10px 8px;
	border: 1px solid lightgray;
	border-radius: 10px;
	cursor: pointer;
	color: #005AA0;
}
/*.pager:hover{
	background: #e5004b;
	color: white;
}*/
.active{
	cursor: default !important;
	border: none !important;
	color: #CCCCCC !important;
}


































