@charset "utf-8";



#list-container{
	
}
#list-container .bg{
	height: 677px;
	width: 100%;
	background: url(../img/list/banner.jpg) center no-repeat;
}
#list-container .warp1200{
	width: 1200px;
	margin: 0 auto;
}

.listContainer{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 30px;
}
.listContainer .list-item{
	float: left;
	margin: 10px 27px;
	width: 210px;
	height: 310px;
	border: 4px solid #F88CB7;
}
.list-item .title{
	height: 20px;
	overflow: hidden;
	border-top: 1px dashed darkgray;
	border-bottom: 1px dashed darkgray;
	padding-left: 10px;
	margin-top: 15px;
	color: #666666;
	line-height: 20px;
}
.list-item .price{
	padding-left: 10px;
	padding-top: 10px;
	overflow: hidden;
}
.list-item .price span{
	line-height: 15px;
	text-decoration: line-through;
}
.list-item .price h3{
	color: #CB0101;
	font-size: 18px;
	margin-top: 10px;
}

.pager-container{
	float: right;
	width: 300px;
}
.pager-container .pager{
	float: left;
	padding: 5px 10px;
	margin: 10px 8px;
	border: 1px solid lightgray;
	border-radius: 10px;
	cursor: pointer;
	color: #005AA0;
}
/*.pager:hover{
	background: #e5004b;
	color: white;
}*/
.active{
	cursor: default !important;
	border: none !important;
	color: #CCCCCC !important;
}


































